@import "tailwindcss";
@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@theme {
/* Pulled from the bucket & script text in image_cc9ce0.jpg */
       --color-pink-light: #FDF2F4; 
       --color-pink: #E396A6; 
       --color-pink-dark: #C46D7F; 

        /* Pulled from the accent leaves in image_cc9ce0.jpg */
        --color-sage-light: #C4CCBD; 
	--color-sage: #84937D; 
	--color-sage-dark: #5A6953;
  --font-cursive: "Alex Brush", cursive;
}

/* Set a custom site-wide cursor */
body {
  /* Step out of the 'dist' folder with ../ to find the root 'assets' folder */
  cursor: url('../assets/pointer.png'), auto;
}
/* Optional: Keep standard pointer hand on interactive links/buttons */
a, button {
  cursor: pointer;
}
